  <%= render layout: 'users/shared/auth' do %>
    <div class="max-w-3xs max-h-3xs mb-4 border-b-1 border-solid border-gray-200">
        <%= inline_svg_tag("alert-circle.svg", size: "128px", class: "alert-circle") %>
    </div>
    <%= section_title "Forgot Password?" %>
     <%= render Field.new do %>
      <p class="text-center text-gray-700">Enter you email and we'll send you a link to reset your</br>password.</p>
     <% end %> 
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "w-full" }, builder: CustomFormBuilder) do |f| %>

      <%= render Field.new do %>
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      <% end %>

      <%= render Buttons::WideButtonComponent.new do %>
        <%= f.submit "Submit", html_options: { class: "w-full" }%>
      <% end %>
    <% end %>
  <% end %>